
.hero {
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  /* pode ajustar pra 70vh, 80vh */
}

.navbar {
  padding: 20px 0;
}

.logo {
  height: 60px;
}

.bannerh1 {
  font-size: 60px;
  margin-top: 15%;
  margin-bottom: 15%;
  text-align: center;
}

.bannerbotao {
  font-size: 60px;


  text-align: center;
}

.fundo {
  background-color: #67AF3A;

}

.destaques {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  padding-bottom: 15%;
}

.receitasemdestaque {
  text-align: center;
  padding-bottom: 5%;
  font-family: "Cookie", cursive;

}

.card-title {
  text-align: center;
  font-weight: bold;
}

.sobrenos {
  background-color: #155831;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 8%;
  color: white;
  padding-bottom: 8%;
}

.imgredonda {
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 50%;
  shape-outside: circle(50%);
  object-fit: cover;

  margin: 0 0 20px 40px; /* espaço entre imagem e txt */
}


.imgcategorias {

  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.caixa-texto {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 800px;
  padding: 40px;
  border-radius: 50px;
  text-align: center;
}

.caixa-texto h2 {
  font-size: 40px;
  margin-bottom: 20px;
 

}

.caixa-texto p {
  font-size: 18px;
  line-height: 1.6;
}
.footer {
  background-color: #2e7d32; 
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
footer p{
  margin-top: 5%;
  margin-bottom: 5%;
}
.cardlink {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.card:hover {
  transform: scale(1.03);
}
.hero2 {
  background-image: url("img/inicial\ banner.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  /* pode ajustar pra 70vh, 80vh */
}
.titulo h1{
  background-color: #ffffff;
  color: #67AF3A;
  font-weight: bold;
  text-align: center;
  padding: 3%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.card {
  transition: 0.3s;
  cursor: pointer;
}
.receita{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8%;
}
li{
  margin-left: 4%;
  margin-bottom: 1%;
}
.titulo2{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 4%;
}
.lista{
  margin-bottom: 4%;
}
.tituloi{
  text-align: center;
 font-family: "Birthstone", cursive;
 color: white;
 padding: 20%;
 font-size: 60px;
}




h2{

  font-size: 50px !important;
}
