.hero {
  background-image: url("img/inicial\ banner.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh; /* pode ajustar pra 70vh, 80vh */
}
.navbar {
  padding: 20px 0;
}
.logo {
  height: 60px;
}

.bannerh1{
    font-size: 60px;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
}
.bannerbotao{
    font-size: 60px;
   
  
    text-align: center;
}
.fundo{
    background-color: #67AF3A;
   
}
.destaques{
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  padding-bottom: 15%;
}
.receitasemdestaque{
  text-align: center;
  padding-bottom: 5%;

}
.card-title{
  text-align: center;
}
.sobrenos{
  background-color: #155831;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
}